// 스크롤 끝 지점 관찰 및 로딩 스피너 표시 span
.endPointSpan {
  display: inline;
  padding: 10px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  