.traditional_food_filter_container {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  margin: 3rem 0 1rem 0;
  padding: 30px 15px 25px;
  border-radius: 5px;
  border: 1px solid rgb(195, 193, 193);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .traditional_food_filter_title {
    position: absolute;
    background-color: #1a4e85;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 8px 0;
    font-size: 1.15em;
    display: inline-block;
    left: 0.5em;
    top: -1em;
  }

  //   각 필터 레이아웃 테두리
  .filter_content_wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5em;

    h3 {
      min-width: 90px;
      margin-top: 0.25em;
      display: inline-block;
    }

    .filter_contents {
      display: flex;
      flex-wrap: wrap;

      .input_container {
        margin: 5px;
        input {
          display: none;
        }

        label {
          cursor: pointer;
          transition: 0.5s;
          font-size: 0.9em;
          border: 1px solid rgb(137, 134, 134);
          border-radius: 20px;
          padding: 2px 5px;
        }

        input:checked + label {
          background: #1a4e85;
          border: 1px solid transparent;
          color: white;
        }

        // 범위 인풋
        input[type='range'] {
          display: block;
          border-radius: 20px;
          border: 1px solid rgb(179, 176, 176);
          appearance: none;
          -webkit-appearance: none;
          background: transparent;
        }
        input[type='range']:focus {
          background-color: none;
        }
        input[type='range'] + label {
          border: none;
        }
      }

      .add_btn,
      .hide_btn {
        border: none;
        background: white;
        font-size: 0.95em;
      }

      :is(.add_btn, .hide_btn):hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
