.traditional_food_page_container {
  min-height: 100vh;

  .traditional_food_page_title {
    height: 380px;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    text-shadow: 1px 1px 4px black;
    font-size: 2.5rem;
    padding: 12rem 0;
    font-family: 'Orbit', sans-serif;
    margin: 0 0 3rem 0 !important;
    box-shadow: inset 0 0 15px 1px rgb(69, 69, 69);
    color: white;
    filter: opacity(1);
    background-position: top top;
    background-size: cover;
    background: url('/assets/traditional-food-back.jpg');
  }

  .traditional_food_page_title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    filter: opacity(1);
    backdrop-filter: grayscale(10%);
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 10%, rgb(255, 255, 255));
    bottom: 0;
  }

  .traditional_food_page_title::after {
    content: '전통음식';
    position: absolute;
    min-width: 220px;
    left: 50%;
    transform: translate(-50%);
  }

  .traditional_food_page_inner_boundary {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }
  // 카테고리
  .traditional_food_category {
    position: absolute;
    top: -1em;
    right: 1em;
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    background: linear-gradient(90deg, rgb(237, 235, 235), white);
  }

  // 목록
  .traditional_food_list_container {
    border: 1px solid rgb(205, 205, 205);
    margin-top: 3em;
    padding: 3.5em 0;
    border-radius: 5px;
    position: relative;
    min-height: 10vh;
    height: 100%;

    .traditional_food_list_title {
      position: absolute;
      background-color: #1a4e85;
      color: white;
      border-radius: 5px;
      padding: 5px;
      font-size: 1.15em;
      margin: 0 0 8px 0;
      display: inline-block;
      top: -1.05em;
      left: 0.5em;
    }
  }

  /* 카드 */
  .traditional_food_card {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
    gap: 10px;
    height: 100%;
    width: 95%;
    .traditional_food_card_inner_wrapper {
      border: 1px solid rgb(221, 216, 216);
      border-radius: 7px;
      margin: 0.5em auto;
      max-width: 300px;
      min-width: 280px;
      width: 100%;
      .card_title {
        background: linear-gradient(90deg, #1a4e85 30%, #296eb9);
        color: white;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
      }

      .traditional_food_card_content {
        padding: 2px 10px;
         a {
          border-bottom: 1px solid blue;
         }
      }
    }
  }
  .traditional_food_card_inner_wrapper:hover{
    box-shadow: 0 0 0 1px black;
  }

  /* 페이지 경로 가이드 메시지 */
  .page_path_guide_message {
    top: -7.5em;
    right: 0;
  }
  
  /* 목록이 없을 때*/
  .traditional_food_list_loading_message{
    text-align: center;
  }
}
