.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.item_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* 검색창 */
.search_input {
  margin-top: 1rem;
  padding: 10px 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
}

.search_input:focus {
  outline:none;
}

.search_btn {
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: rgb(119, 119, 238);
}

.search_btn:hover {
  background-color: rgb(133, 133, 209);
}


/* 각 음식목록 데이터 컨테이너 */
.item_section .item_box {
  margin: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.281);
  padding: 10px;
  max-width: 500px;
  min-width: 280px;
  transition: 0.5s;
  justify-content: center;
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  animation: appear 1s 1;
  border-radius: 10px;
}

.item_section .item_box:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 5px rgb(77, 90, 213);
}


@keyframes appear {
  from {opacity: 0; transform: translateY(-30px);}
}

/* 각 음식 데이터 내 소제목(음식이름) */
.item_section .item_box .sub_title {
  width: 100%;
  display: inline-block;
  border-top: 3px solid black;
  border-left: 20px solid rgb(27, 39, 95);
  padding: 5px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  margin: 5px 0 20px 0;
}

.item_section .item_box span {
  border-radius: 20px;
  margin: 5px;
  padding: 3px;
  background-color: rgb(151, 151, 252);
}

.item_section .item_box section {
  min-width: 300px;
  margin: 5px 10px;
  width: 100%;
  max-width: 500px;
}

.item_section .item_box section .item_name {
  text-align: center;
  font-weight: 600;
}

/* 메시지 */
.message {
  margin: 0px 10px 3rem 10px;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.386);
  padding: 10px;
  max-width: 500px;
  width: 80%;
  background-color: rgb(122, 122, 251);
  border-radius: 10px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.287);
}

.message::before {
  content: "";
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 20px solid rgb(122, 122, 251);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* 추가 버튼 */
.add_btn {
  padding: 10px;
  margin: 50px 0 30px 0;
  border: none;
  color:white;
  box-shadow: inset -2px -3px 2px rgb(45, 42, 204);
  border-radius: 20%;
  background-color: rgba(101, 101, 243, 0.876);
}

.add_btn:hover {
  cursor: pointer;
  background-color: rgb(134, 134, 203);
}

.add_btn:disabled {
  display: none;
}

.result_msg {
  margin: 0.5rem 0;
  display: inline-block;
  position: fixed;
  max-width: 200px;
  background-color: rgb(40, 40, 41);
  color: white;
  min-height: 45px;
  padding: 10px;
  z-index: 10000;
  top: 4.6rem;
  right: 20px;
  border-radius: 10px;
}
