/* 카테고리를 불러오는 버튼 */
.list_load_btn {
  background-color: rgb(103, 103, 252);
  color: white;
  border: none;
  padding: 10px;
  min-height: 40px;
  font-size: 15px;
  position: fixed;
  left: 10px;
  top: 5rem;
  box-shadow: inset -2px -2px rgb(38, 51, 126);
  border-radius: 20px;
}

.list_load_btn::after {
  content: "";
  position: absolute;
  right: -1.3rem;
  opacity: 0;
  visibility: hidden;
  border-right: 20px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.list_load_btn::before {
  content: "조회한 음식 목록을 확인할 수 있습니다. 조회된 목록 중 하나를 클릭하면 해당 위치로 이동합니다.";
  position: absolute;
  right: -13.6rem;
  opacity: 0;
  visibility: hidden;
  top: -0.5rem;
  padding: 11px;
  border-radius: 20px;
  max-width: 200px;
  background-color: black;
}

.list_load_btn:hover::before {
  opacity: 1;
  visibility: visible;
}
.list_load_btn:hover::after {
  opacity: 1;
  visibility: visible;
}

.list_load_btn:hover {
  cursor: pointer;
  background-color: rgb(94, 94, 249);
}

.DbSideBar {
  overflow-y: auto;
  text-align: left;
  padding: 3rem 5px 0 10px;
  position: fixed;
  transition: 0.5s;
  top: 0;
  border-right: 8px solid rgb(76, 76, 197);
  z-index: 100000000;
  opacity: 0;
  visibility: hidden;
  left: 0;
  transform: translate(-50px);
  min-width: 200px;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



.DbSideBar::content {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.163);
}

.DbSideBar::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

.DbSideBar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(50, 50, 184);
}

.sideBar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* 타이틀 목록 */

.title_list {
  display: flex;
  flex-direction: column;
}

.title_list li {
  color: black;
  margin: 6px 0;
  list-style: decimal;
}

.title_list li a {
  color: black;
  text-decoration: none;
}

.title_list li a:hover {
  color: rgb(63, 63, 209);
}


/* 사이드 바 제목 */
.sideBar_title {
  font-size: 1.5rem;
}