@keyframes appear {
  from {
    transform: translateY(-30px);
    visibility: hidden;
    opacity: 0;
  }
}



.localfood_detail_page_container {
  display: grid;
  padding-top: 5em;
  max-width: 1680px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  min-height: 110vh;
  grid-template-columns: 55% 40%;
  animation: appear 1s 1;
  color:#333333;


  /* 페이지 경로 가이드 메시지 */
.page_path_guide_message {
  top: 5em;
  right: 1em;
}

}

.left_content {
  margin: 3em 1em 1em 1em;
  .title {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;
    
  }
  .sub_title {
    margin: 0.5em 0;
    font-size: 1em;
  }
  .thumb {
    margin: 1.5em 0 0 0;
    max-width: 768px;
    box-sizing: border-box;
    border: 13px solid white;
    box-shadow: 0 0 0 1px rgb(200, 198, 198);
    width: 100%;
    height: 100%;
    max-height: 420px;
  }

  .sumary {
    max-width: 768px;
    font-size: 1.1em;
    line-height: 2;
    margin: 3em 0;
  }
}

.right_content {
  margin: 6em 1em;
  h3 {
    font-size: 1.15em;
    font-weight: 600;
    margin: 0 0 0.3em 0;
  }

  .rel_rest {
    min-height: 350px;
    width: 100%;

    span {
      display: inline-block;
      margin: 1em 0;
    }
  }
}




@media screen and (max-width: 768px) {
  .localfood_detail_page_container {
    grid-template-columns: 1fr;
  }

  .right_content {
    margin: 8em 1em 2em 1em;
  }
}
