@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css');

.Localfood {
  margin: 0 auto;
  min-height: 150vh;
  
}

.page_title {
  font-family: 'Orbit', sans-serif;
  background-color: black;
  width: 100%;
  height: 300px;
  text-shadow: 1px 1px 4px black;
  font-size: 2.5rem;
  margin: 0 0 3rem 0;
  padding-top: 5rem;
  color: white;
  background: url('/assets/localfoodback.png');

  p {
    text-align: center;
    height: 300px;
    line-height: 3.5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(255, 255, 255) 70%);
  }
}

.localfood_ul {
  max-width: 1300px;
  display: grid;
  margin: 15em auto 1em auto;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: minmax(250px, 330px);
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;

  .localfood_li:nth-of-type(2n) {
    height: 500px;
    button {
      top:30%
    }
  }

  .localfood_li {
    max-width: 450px;
    transition: 1s;
    height: 300px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    text-align: center;

    .main_thumb {
      transition: 0.51s all;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.175);
      max-width: 300px;
      margin-top: 10px;
      max-height: 300px;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .main_thumb_title {
      transition: 0.5s all;
      position: absolute;
      top: 1.5em;
      max-width: 230px;

      visibility: hidden;
      opacity: 0;
      color: white;
      font-size: 1.1em;
      padding: 8px;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      text-shadow: 1px 1px 2px black;
    }

    .main_thumb_title:hover {
      color: gold;
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.5s all;
      border: none;
      transform: translate(-50%, -50%) scale(0);
      left: 50%;
      top: 50%;
      font-size: 1.25em;
      position: absolute;
      visibility: hidden;
      font-weight: bold;
      opacity: 0;
      color: white;
      background: none;
      transform-origin: 50% 50%;

      span {
        display: inline-block;
        padding: 5px 0;
        font-size: 2em;
      }
    }

    button:hover {
      color: gold;
    }

    animation: appear 1s 1 ease-in-out;
  }

  .localfood_li:hover>.main_thumb {
    filter: grayscale(5) brightness(60%);
  }

  .localfood_li:hover>button {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .localfood_li:hover>.main_thumb_title {
    visibility: visible;
    opacity: 1;
  }
}

.scroll_pointer {
  visibility: hidden;
}

@keyframes appear {
  from {
    transform: translateY(-30px);
    visibility: hidden;
    opacity: 0;
  }
}

// 미디어 쿼리
@media screen and (max-width:1160px) {
  .localfood_li:nth-of-type(2n+1) {
    height: 500px;
    button {
      top: 30%;
    }
  }

}

@media screen and (max-width:845px) {
  .localfood_li:nth-of-type(2n-1) {
    height: 300px;
    button {
      top: 50%;
    }
  }

}

@media screen and (max-width:600px) {
  .localfood_li:nth-of-type(2n+1) {
    height: 500px;
    button {
      top: 30%;
    }
  }
}

/* 페이지 경로 가이드 메시지 */
.page_path_guide_message {
  top: 23em;
  right: 9px;
}