
.footer {
    background-color:rgb(83, 83, 255); 
    color: #ffffff; 
    padding: 4em 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px;
    justify-content: center;
    height: 70%;
    div {
        margin-bottom: 10px;
      }
      p {
        margin: 0;
      }
  }
  