// 헤더 전용 테마
.active.Header:is(h1, .menu_wrapper span) {
  color: black !important;
}

.active.Header {
  background-color: #1a4e85bc;
  padding: 5px;
  align-items: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  width: 100%;
  z-index: 1000000000;

  // 로고
  h1 {
    font-size: 1.35em;
    margin: 0 0 0 0.5em;
    color: white;
    cursor: pointer;
  }
}

.menu_icon {
  display: none;
  z-index: 1000000;
}

// 메뉴
.nav {
  .menu_wrapper_con {
    display: flex;
    margin: 0;

    .menu_wrapper {
      padding: 0 3em 0 1em;
      position: relative;

      // 네비 이름
      span {
        display: inline-block;
        padding: 5px 0;
        position: relative;
        color: white;

        font-size: 1.15em;
      }

      span::before {
        content: '';
        transition: 1s;
        transform-origin: right center;
        bottom: 0;
        width: 0%;
        border-bottom: 2px solid rgb(241, 239, 239);
        position: absolute;
        transform: scaleX(0);
      }

      // 드롭다운 전
      .menu_ul {
        transition: 0.2s;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform-origin: center top;
        transform: scaleY(0);
        display: flex;
        flex-flow: column;

        li:nth-of-type(1) {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        li:nth-last-child(1) {
          border-end-end-radius: 10px;
          border-end-start-radius: 10px;
        }

        li {
          background-color: rgba(255, 255, 255, 0.699);
          transition: 1s;

          a {
            margin: 0.5em 0;
            display: inline-block;
            color: black;
            padding: 5px;
          }
        }
      }
    }

    // 드롭다운
    .menu_wrapper:hover {
      span {
        font-weight: 700;
      }

      span::before {
        border-bottom: 2px solid rgb(252, 236, 93);
        transform-origin: right center;
        transform: scaleX(1);
        width: 100%;
      }

      .menu_ul {
        visibility: visible;
        opacity: 1;
        margin-top: 0.55em;
        transform: scaleY(1);

        li:hover {
          box-shadow: inset 700px 0 0 0 #164f8b;

          a {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .Header {
    padding: 5px 0;
    h1 {
      font-size: 1.25em;
    }
    .menu_icon {
      display: block;
      position: absolute;
      background: none;
      border: none;
      color: white;
      font-size: 1.5em;
      top: 5px;
      right: 0.4em;
    }

    .open_menu.menu_icon {
      color: black;
    }

    .open_menu.menu_icon:hover {
      color: blue;
    }

// 활성화된 메뉴
    .nav {
      background: #1A4E85;
      max-width: 400px;
      text-align: center;
      width: 100%;
      border-radius: 2px;
      right: 9%;
      padding:3px;
      top: 5em;
      position: fixed;
      transition: 1s;
      transform: translateX(300px);
      visibility: hidden;
      opacity: 0;
           
      .menu_wrapper_con {
        flex-direction: column;
        box-shadow: 0 0 0 5000px #1d467246 ;

        .menu_wrapper {
          padding: 0;

          .menu_ul{
            position: relative;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            li {
              transition: 0.5s;
              
              border-radius: 0;
              background: white;
            }
            li:hover{
              box-shadow:inset 0 -100px 0 0 #6697D6;
            }
          }

        }
      }
    }
    .active.nav {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);

    }
  }
}
