// 헤더 전용 테마
.active.Header:is(h1, .menu_wrapper span) {
  color: black;
}

.active.Header {
  padding: 5px 1em;
  align-items: center;
}

.Header {
  backdrop-filter: blur(2px);
  position: absolute;
  left: 50%;
  background:transparent;
  transform: translate(-50%);
  top: 0;
  width: 100%;
  z-index: 1000000000;
  padding: 5px;

  .header_inner_bondary {
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  // 로고
  h1 {
    margin: 0 0 0 0.5em;
  
    
    cursor: pointer;
    a {
      font-size: 1.45em;
      letter-spacing: 2px;
      text-decoration: none;
      font-family: sans-serif;
      color:white;
      font-weight: bold;
      background-clip: text;
    -webkit-background-clip: text;
    }
  }
}

.menu_icon {
  display: none;
  color: white !important;
  z-index: 1000000;
}

// 메뉴
.nav {
  .menu_wrapper_con {
    display: flex;
    margin: 0;

    .menu_wrapper {
      padding: 0 1em 0 1em;
      position: relative;

      // 네비 이름
      span {
        display: inline-block;
        text-shadow: 1px 1px 0 0 black;
        padding: 5px 0;
        position: relative;
        color: white;

        font-size: 1.15em;
      }

      span::before {
        content: '';
        transition: 1s;
        transform-origin: right center;
        bottom: 0;
        width: 0%;
        border-bottom: 2px solid rgb(241, 239, 239);
        position: absolute;
        transform: scaleX(0);
      }

      // 드롭다운 전
      .menu_ul {
        transition: 0.2s;
        position: absolute;
        visibility: hidden;
        width: 160px;
        opacity: 0;
        transform-origin: center top;
        transform: scaleY(0);
        display: flex;
        flex-flow: column;

        li:nth-of-type(1) {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        li:nth-last-child(1) {
          border-end-end-radius: 10px;
          border-end-start-radius: 10px;
        }

        li {
          background-color: rgba(255, 255, 255, 0.699);
          transition: 1s;

          a {
            margin: 0.5em 0;
            display: inline-block;
            color: black;
            padding: 5px;
          }
        }
      }
    }

    // 드롭다운
    .menu_wrapper:hover {
      span {
        font-weight: 700;
      }

      span::before {
        border-bottom: 2px solid rgb(252, 236, 93);
        transform-origin: right center;
        transform: scaleX(1);
        width: 100%;
      }

      .menu_ul {
        visibility: visible;
        opacity: 1;
   
        margin-top: 0em;
        transform: scaleY(1);

        li:hover {
          box-shadow: inset 700px 0 0 0 #164f8b;

          a {
            color: white;
          }
        }
      }
    }
  }
}


// 미디어 쿼리
@media screen and (max-width: 1240px) {
  .Header {
    padding: 0;
    .menu_icon {
      cursor: pointer;
      display: block;
      position: absolute;
      background: none;
      border: none;
      font-size: 1.5em;
      top: 5px;
      right: 0.4em;
    }

    .menu_icon:hover {
      color: rgb(234, 232, 232) !important;
    }

    .open_menu.menu_icon {
      color: black;
    }

    // 활성화된 메뉴
    .nav {
      background: #1a4e85;
      max-width: 400px;
      text-align: center;
      width: 100%;
      border-radius: 2px;
      right: 3px;
      padding: 3px;
      top: 5em;
      position: fixed;
      transition: transform 0.5s, opacity 0.5s,visibility 0.5s;
      transform-origin: 100% 0%;
      transform: translate(0, 0) scaleX(0);
      visibility: hidden;
      opacity: 0;

      .menu_wrapper_con {
        flex-direction: column;

        .menu_wrapper {
          padding: 0;

          .menu_ul {
            position: relative;
            visibility: visible;
            width: 100%;
            opacity: 1;
            transform: scale(1);
            li {
              transition: 0.5s;

              border-radius: 0;
              background: white;
            }
            li:hover {
              box-shadow: inset 0 -100px 0 0 #6697d6;
            }
          }
        }
      }
    }
    .active.nav {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}


