/* 모달 */
.modal {
    transition: 0.5s;
    z-index: 10000;
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    min-height: 80vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.929);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 50%;
  }
  .modal button {
    border: none;
    background-color: transparent;
    color:white;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 7px;
  }
  
  .modal button:hover {
    color:rgb(185, 193, 233);
  }
  
  .modal h2 {
    background-color: rgba(0, 0, 255, 0.697);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
  }
  
  .modal_content_con {
    display: flex;
    margin: 3rem;

 }
 .modal_content_con img{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
 }

  .modal_content_con p div {
    padding: 2px;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 5px;
  }
  
  .modal_figure {
    min-width: 300px;
    min-height: 300px;
    max-width: 350px !important;
    width: 100% !important;
    margin: 0 10px !important;
  }
  

  @media (max-width: 890px) {
    .modal_content_con {
      flex-direction: column;
      align-items: center;

    }

    .modal_figure{
      max-width: 500px !important;
      width: 100%;
    }

    .modal_content_con>div{
      margin-top: 2rem;
      max-width: 500px;
    }
  }