/* 검색창 */
.search_container {
    left: 50%;
    width: 90%;
    max-width: 768px;
    margin: 8rem auto 3rem auto;
    border-radius: 5px;
    border: 1px solid rgb(136, 156, 255);
    display: flex;
    justify-content: space-between;
  }
  
  .search_input {
    border: none;
    background: transparent;
    padding: 10px 15px;
    min-width: 150px;
    width: 100%;
  }
  
  .search_input:focus {
    outline: none;
  }
  
  /* 검색 버튼 */
  .search_btn {
    right: 0;
    border-radius: 3px;
    min-width: 65px;
    color: white;
    padding: 11px 15px;
    border: none;
    background-color: rgb(98, 98, 238);
  }
  
  .search_btn:hover {
    background-color: rgb(120, 120, 250);
  }