.recipe_page_container {
  // 페이지 타이틀
  .page_title {
    height: 380px;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    text-shadow: 1px 1px 4px black;
    font-size: 2.5rem;
    padding: 12rem 0;
    font-family: 'Orbit', sans-serif;
    margin: 0 0 3rem 0 !important;
    box-shadow: inset 0 0 15px 1px rgb(69, 69, 69);
    color: white;
    filter: opacity(1);
    background-position: center;
    background: url('/assets/recipe.png');
  }

  .page_title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    filter: opacity(1);
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgb(255, 255, 255));
    bottom: 0;
  }

  .page_title::after {
    content: '음식 레시피';
    position: absolute;
    min-width: 220px;
    left: 50%;
    transform: translate(-50%);
  }

  .recipe_page_inner_boundary {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;

    .search_form {
      padding: 10px;
      max-width: 600px;
      width: 100%;
      margin: 6rem auto 3em auto;
      text-align: center;

      /* 유저 검색창 */
      .search_input_area {
        position: relative;
        input {
          border-radius: 10px;
          border: 1px solid rgb(136, 156, 255);
          padding: 10px 15px;
          min-width: 150px;
          width: 100%;
        }

        input:focus {
          outline: none;
        }

        /* 검색 버튼 */
        button {
          position: absolute;
          right: 0;
          border-radius: 5px;
          min-width: 65px;
          color: white;
          box-shadow:
            inset 2px 2px 2px rgb(133, 149, 252),
            inset -2px -2px 2px rgb(30, 43, 125);
          padding: 11px 15px;
          border: none;
          background-color: rgb(98, 98, 238);
        }
        button:hover {
          background-color: rgb(120, 120, 250);
        }
      }
    }

    /* 검색- 분류(체크박스)*/
    .search_form .search_sortby_area {
      margin: 1rem auto;
      min-width: 200px;
      max-width: 280px;
      input {
        margin: 5px;
      }
      .checkbox_item {
        display: inline-block;
        margin: 0 4px;
      }
    }

    /* ====RecipeSearchResult.tsx */

    /* 레시피 목록 컨테이너 */
    .recipe_list_container {
      position: relative;
      height: 100%;
      width: 100%;
      display: grid;
      justify-content: center;
      border: 1px solid rgb(195, 193, 193);
      margin: 5em auto 2em auto;
      padding-top: 4em;
      border-radius: 5px;
      min-height: 40vh;
      column-gap: 10px;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 230px));

      .recipe_list_title {
        position: absolute;
        background: #225c9a;
        color: white;
        font-size: 1.15em;
        border-radius: 5px;
        padding: 5px;
        margin: 0 0 8px 0;
        display: inline-block;
        top: -1.05em;
        left: 0.5em;
      }

      a {
        text-decoration: none;
        width: 100%;
      }
    }

    .recipe_card_container {
      overflow: hidden;
      border: 12px solid white;
      box-shadow: 0 0 0 1px rgb(213, 212, 212);
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 1px;
      max-width: 250px;
      min-width: 224px;
      min-height: 275px;
      margin: 0 auto;
      line-height: 1.3;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      transition: 0.5s;
      background-position: center;
      animation: appear 1s 1 ease-in-out;

      span {
        font-size: 0.98em;
        display: inline-block;
        padding: 6px;
      }

      .recipe_card_img {
        transition: 1s;
        width: 100%;
        box-shadow: 0 0 0 1px rgb(213, 212, 212);
        height: 100%;
        max-height: 250px;
      }

      /* 레시피 요리명 */
      .recipe_card_title {
        font-weight: 600;
        padding:  7px 3px;
        text-align: center;
        background: linear-gradient(60deg,#1a4e85, #437dbb);

        /* 레시피 상세 링크 */
        .recipe_link {
          color:white;
          font-weight: 500;
          font-size: 1.05em;
          margin: 0;
          padding: 0;
        }
      }

      /* 레시피 카테고리 */
      .recipe_card_category {
        border-radius: 5px;
      }
    }

    .recipe_card_container:hover {
      box-shadow: 0 0 0 1px rgb(149, 148, 148);
        .recipe_card_title{
          a {
          color:#dcdcdc
        }
        }
      
    }

    .recipe_card_container:hover::before {
      content: '👁‍🗨';
      position: absolute;
      right:3px;
      top:1px;
      z-index: 100;
    }

    @keyframes appear {
      from {
        transform: translateY(-30px);
        visibility: hidden;
        opacity: 0;
      }
    }

    /* 페이지 경로 가이드 메시지 */
    .page_path_guide_message {
      top: -7.5em;
      right: 0;
    }

    /* 안내 메시지 */
    .message_container {
      position: fixed;
      top: 5rem;
      transition: 1s;
      z-index: 10;
      max-width: 240px;
      right: 2rem;
      min-height: 40px;
      background-color: white;
      border-radius: 5px;
      padding: 10px 5px 10px 35px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.452);
      display: flex;
      flex-direction: column;

      button {
        color: white;
        padding: 2px 5px;
        transition: 1s;
        font-size: 14px;
        background-color: rgb(26, 78, 133);
        border-radius: 5px;
        left: 8px;
        top: 20%;
        transform: translate(0, -50%);
        border: none;
        position: absolute;
      }
      .message {
        transition: 0.8s;
        min-width: 180px;
        font-size: 13px;
      }
    }

    .message_container::before {
      content: '';
      position: absolute;
      right: -13px;
      top: 5px;
      filter: drop-shadow(10px 0 10px black);
      border-left: 15px solid rgb(255, 255, 255);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .replace_message {
      position: absolute;
      left: 50%;
      text-align: center;
      padding-top: 4em;
      transform: translate(-50%);
    }
  }
}

@media screen and (max-width: 1398px) {
  .recipe_list_container {
    a {
      max-width: 425px;
    }
  }
}
@media screen and (max-width: 1372px) {
  .recipe_list_container {
    justify-content: center !important;
    a {
      margin: 10px;
    }
  }
}
