.pagination_container {
  display: flex;
  justify-content: center;
  z-index: 10000;
  width: 100%;
  position: relative;
  bottom: 2rem;
  backdrop-filter: blur(5px);
  padding: 10px 0 !important;
  background-color: rgba(247, 247, 237, 0.473);
  li {
    margin: 5px;
    min-width: 30px;
    box-shadow: inset 50px 50px 0 0 rgb(131, 131, 240);
    border-radius: 5px;
    padding: 3px 3px;
    color: white;
  }
  li:hover {
    cursor: pointer;
    color: black;
    box-shadow: inset 0 0 3px black !important;
  }
}
