.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.search_container {
  display: flex;
  margin: 4rem auto 0 auto;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  /* 검색창 */
  .search_input {
    border-radius: 5px;
    border: 1px solid #889cff;
    padding: 10px 15px;
    min-width: 180px;
    width: 100%;
    margin: 0 5px;
  }
  .search_input:focus {
    outline: none;
  }
  .search_btn {
    right: 0;
    border-radius: 5px;
    min-width: 65px;
    color: white;
    box-shadow: inset 2px 2px 2px rgb(133, 149, 252),
      inset -2px -2px 2px rgb(30, 43, 125);
    padding: 11px 15px;
    border: none;
    background-color: rgb(98, 98, 238);
  }

  .search_btn:hover {
    background-color: rgb(133, 133, 209);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
}

/* 각 음식 데이터 내 소제목(음식이름) */

.item_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* 각 음식목록 데이터 컨테이너 */
  .item_box {
    margin: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.281);
    padding: 10px;
    max-width: 490px;
    min-width: 280px;
    transition: 0.5s;
    justify-content: center;
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: appear 1s 1;
    border-radius: 10px;
  }

  .item_box:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 5px rgb(77, 90, 213);
  }
  .sub_title {
    width: 100%;
    display: inline-block;
    border-top: 3px solid black;
    border-left: 20px solid rgb(27, 39, 95);
    padding: 5px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    margin: 5px 0 20px 0;
  }

  span {
    border-radius: 20px;
    margin: 5px;
    padding: 3px;
    background-color: rgb(151, 151, 252);
  }

  .result_section {
    min-width: 300px;
    margin: 5px 10px;
    width: 100%;
    max-width: 500px;
  }

  .item_name {
    text-align: center;
    font-weight: 600;
  }
}

/* 메시지 */
.message {
  margin: -1rem 10px 3rem 10px;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.386);
  padding: 10px;
  max-width: 500px;
  width: 80%;
  background-color: rgb(122, 122, 251);
  border-radius: 10px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.287);
  animation: appear 1s 1 ease-in-out;
}

.message::before {
  content: "";
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 20px solid rgb(122, 122, 251);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* 추가 버튼 */
.add_btn {
  padding: 10px;
  margin: 50px 0 30px 0;
  border: none;
  bottom: 0;
  color: white;
  box-shadow: inset -2px -3px 2px rgb(45, 42, 204);
  border-radius: 20%;
  background-color: rgba(101, 101, 243, 0.876);
}

.add_btn:hover {
  cursor: pointer;
  background-color: rgb(134, 134, 203);
}

.add_btn:disabled {
  display: none;
}

.result_msg {
  margin: 0.5rem 0;
  display: inline-block;
  position: fixed;
  box-shadow: inset -3px -3px rgb(14, 16, 130), inset 2px 2px rgb(126, 152, 255);
  max-width: 200px;
  background-color: rgb(112, 112, 230);
  color: white;
  min-height: 45px;
  padding: 10px;
  font-size: 14px;
  z-index: 1000;
  top: 4.6rem;
  right: 20px;
  border-radius: 20px;

  button {
    margin: 5px;
    box-shadow: 2px 2px rgb(32, 18, 190);
    border-radius: 50px;
    border: none;
  }
}
