.overlay {
    opacity: 0;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    overflow: hidden;
    background:rgba(26, 78, 133, 0.393);
}

.overlay.active {
    display: block;
    animation: 0.5s 1 showOverlay forwards linear;
}


@keyframes showOverlay {
    100%{
        opacity: 1;
    }
}