.haccp_category_container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;

  .haccp_category_title {
    margin: 0 0 2% 0;
    display: inline-block;
    background-color: #1a4e85;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: -1em;
    left: 0.5em;
    padding: 5px;
  }
}

.haccp_category_grid {
  --default-interval-left: 100px;
  --default-interval-top: 100px;
  border-radius: 5px;
  border: 1px solid rgb(195, 193, 193);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(112.72px, 112.72px));
  justify-content: center;
  margin: 1em auto;
  padding: 2.3em 0 1em;
  gap: 5px;

  .haccp_category_grid_cell {
    transition: 0.5s;
    width: 114px;
    height: 145px;
    padding-top: 5px;
    border-radius: 2;
    background: none;
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    .img_boundary {
      width: 103px;
      height: 108px;
      overflow: hidden;
      position: relative;
      border: 1px solid #ddd;

      border-radius: 5px;
      .haccp_category_grid_cell_img {
        width: 894px;
        height: 405px;
        background-size: cover;
        background-image: url('/assets/haccp-splite.jpg');
        border-radius: 4px;
        top: 0;
        left: 0; // 100px 단위로 움직일 때 다음 이미지를 보여줌
        position: absolute;
      }
    }
  }
  .haccp_category_grid_cell:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  }

  /** 이미지 스프라이트 처리 */
  //   양념육
  .haccp_category_grid_cell:nth-of-type(2) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -1);
    }
  }
  //   김치
  .haccp_category_grid_cell:nth-of-type(3) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -2);
    }
  }
  //   빵
  .haccp_category_grid_cell:nth-of-type(4) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -2.98);
    }
  }
  //   과자
  .haccp_category_grid_cell:nth-of-type(5) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -3.96);
    }
  }
  //   가공
  .haccp_category_grid_cell:nth-of-type(6) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -4.95);
    }
  }
  //   혼합장
  .haccp_category_grid_cell:nth-of-type(7) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -5.95);
    }
  }
  //   음료
  .haccp_category_grid_cell:nth-of-type(8) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -6.95);
    }
  }
  //   소스
  .haccp_category_grid_cell:nth-of-type(9) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -7.93);
    }
  }

  // 조미김
  .haccp_category_grid_cell:nth-of-type(10) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * 0);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  //   신선편의식품
  .haccp_category_grid_cell:nth-of-type(11) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -1);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  //   청국장
  .haccp_category_grid_cell:nth-of-type(12) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -1.98);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  //   고춧가루
  .haccp_category_grid_cell:nth-of-type(13) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -2.975);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  //   절임
  .haccp_category_grid_cell:nth-of-type(14) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -3.98);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  // 천일염
  .haccp_category_grid_cell:nth-of-type(15) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -4.95);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  // 소금
  .haccp_category_grid_cell:nth-of-type(16) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -5.95);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  // 건조저장육류
  .haccp_category_grid_cell:nth-of-type(17) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -6.93);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  // 수산물
  .haccp_category_grid_cell:nth-of-type(18) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -7.93);
      top: calc(var(--default-interval-top) * -1);
    }
  }
  // 농산물조림
  .haccp_category_grid_cell:nth-of-type(19) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * 0);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 어묵
  .haccp_category_grid_cell:nth-of-type(20) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -1);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 햄
  .haccp_category_grid_cell:nth-of-type(21) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -2);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 치즈
  .haccp_category_grid_cell:nth-of-type(22) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -2.98);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 발효유
  .haccp_category_grid_cell:nth-of-type(23) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -3.95);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 곡류
  .haccp_category_grid_cell:nth-of-type(24) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -4.95);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 즉석조리식품
  .haccp_category_grid_cell:nth-of-type(25) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -5.95);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 빙과
  .haccp_category_grid_cell:nth-of-type(26) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -6.95);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 고추장
  .haccp_category_grid_cell:nth-of-type(27) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -7.95);
      top: calc(var(--default-interval-top) * -1.98);
    }
  }
  // 베이컨
  .haccp_category_grid_cell:nth-of-type(28) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -0.01);
      top: calc(var(--default-interval-top) * -2.969);
    }
  }
  // 참기름
  .haccp_category_grid_cell:nth-of-type(29) {
    .haccp_category_grid_cell_img {
      left: calc(var(--default-interval-left) * -1);
      top: calc(var(--default-interval-top) * -2.969);
    }
  }
}

// 카테고리 활성화 체크
.haccp_category_grid_cell.active::before {
  content: 'Pick';
  position: absolute;
  padding: 1px 5px;
  z-index: 1;
  font-size: 0.85em;
  border-radius: 10px;
  background-color: gold;
  color: black;
  top: -8px;
  right: -10px;
}

.haccp_category_grid_cell.active {
  background-color: rgb(231, 228, 228);
}
