@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');

.haccp_page_container {
  min-height: 150vh;
  width: 100%;

  .haccp_page_inner_bounday {
    max-width: 1240px;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

.haccp_inner_container {
  font-family: 'Orbit', sans-serif;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

/* 페이지 타이틀 */
.haccp_page_container .haccp_page_title {
  text-align: center;
  font-family: 'Orbit', sans-serif;
  background-color: black;
  width: 100%;
  text-shadow: 1px 1px 4px black;
  font-size: 2.5rem;
  text-align: 'center';
  margin: 0 0 3rem 0 !important;
  padding-top: 5rem;
  color: white;
  background-size: cover;
  background-position: center;
  background: url('/assets/haccpback.png');

  p {
    height: 300px;
    line-height: 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(255, 255, 255));
  }
}

/* 잠깐 알고가기! */
.message {
  
  padding: 1.5em 0;
  margin: 0rem auto;
  position: relative;

  h2 {
    position: absolute;
    background-color: #1a4e85;
    color: white;
    font-size: 1.15em;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 8px 0;
    display: inline-block;
    left: 0.5em;
  }
  p {
    border-radius: 5px;
    line-height: 1.7;
    border: 1px solid rgb(195, 193, 193);
    padding: 1.25em 1em 1em 1em;
  }
}

/* 상품 목록 */
.content_container {
  border-radius: 5px;
  padding-top: 7em;
  border: 1px solid rgb(195, 193, 193);
  width: 100%;
  position: relative;
  justify-content: center;
  gap: 15px;
  top: 1rem;
  display: grid;
  grid-template-columns: 295px 295px 295px 295px;

  // 상품 목록 타이틀
  .haccp_product_list_title {
    position: absolute;
    background-color: #1a4e85;
    color: white;
    border-radius: 5px;
    font-size: 1.15em;
    padding: 5px;
    margin: 0 0 8px 0;
    display: inline-block;
    left: 0.5em;
    top: -1em;
  }

  // 상품 카드
  .haccp_card_container {
    position: relative;
    border: none;
    transition: 0.5s;
    background-color: rgb(202, 197, 197);
    height: 280px;
    margin: 2em 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(178, 176, 176, 0.565);

    .haccp_card_img {
      z-index: 2;
      border-radius: 1px;
      transition: 0.5s;
      position: relative;
      transform: translateY(-50px) perspective(600px);
      width: 85%;
      box-shadow:
        0 0 0 15px rgba(255, 255, 255, 1),
        0 0 30px 1px black;
      max-height: 260px;
      height: 300px;
    }

    .haccp_card_content {
      transition: 0.5s;
      position: absolute;
      display: none;
      opacity: 0;
      z-index: -1;
      width: 96.5%;
      margin: 5px;
      padding: 13px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.2);
      vertical-align: middle;
      padding-top: 10px;
      text-align: start;
      animation: opencard 0.8s 1 ease-in-out forwards;
      span {
        width: 70px;
        display: inline-block;
        background-color: #cac5c5;
        border-radius: 5px;
        margin: 5px 5px;
        padding: 0 10px;
      }
      .product_name {
        text-align: center;
        font-size: 1.15em;
        font-weight: 600;
        padding: 6px;
      }
    }
  }
  // 카드 호버
  .haccp_card_container:hover{
    .haccp_card_img {
      transform: translateY(-70px)  perspective(600px) ;
      opacity: 085;
      cursor: pointer;
    }

  }
  .haccp_card_container:focus {
    z-index: 100;
    transform: scale(1.05);

    .haccp_card_img {
      transform: translateY(0) translateX(-20px) translateZ(-100px) perspective(600px) rotateY(-20deg) scale(0.85) ;
      opacity: 085;
    }
    .haccp_card_content {
      display: block;
      background-color: white;
      opacity: 1;
      z-index: 1000;
      top: 50%;
    }
  }
}

/* 페이지 경로 가이드 메시지 */
.page_path_guide_message {
  top: -7em;
  right: 0;
  a {
    color: black;
  }
}



@keyframes opencard {
  0% {
    scale: 0.7;
    opacity: 0;
    top: 0%;
    left: 0;
    z-index: -1;
  }
  50%, 80% {
    opacity: 1;
    left: 90%;
    z-index: 1;
  }
  100% {
    top: 0%;
    left: -5%;
    z-index: 100;
  }
}









// 미디어 쿼리
@media screen and (max-width: 1641px) {
  .content_container {
    figure {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .content_container {
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    gap: 15px;

    figure {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1065px) {
  .content_container {
    grid-template-columns: 300px 300px;

    figure {
      max-width: 300px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .content_container {
    grid-template-columns: 280px;
  }

  .modal_content_con {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    figure {
      margin: 0 auto;
      width: 100%;
      max-height: 350px;
      max-width: 630px;
      img {
        max-width: 600px;
        max-height: 320px;
        width: 100%;
      }
    }
    p:nth-of-type(1) {
      margin-top: 2em;
    }
    p {
      text-align: start;
      margin: 0.25em 2em;
    }
  }
}

@media screen and (max-width: 344px) {
  .haccp_page_title {
    font-size: 1.8em !important;
  }
}
