@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');
.Haccp {
  min-height: 150vh;
}

.haccp_inner_container {
  font-family: 'Orbit', sans-serif;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

/* 페이지 타이틀 */
.Haccp .haccp_page_title {
  font-family: 'Orbit', sans-serif;
  background-color: black;
  width: 100%;
  text-shadow: 1px 1px 4px black;
  font-size: 2.5rem;
  margin: 0 0 3rem 0 !important;
  padding-top: 5rem;
  color: white;
  background: url('/assets/haccpback.png');
  p {
    height: 300px;
    line-height: 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(255, 255, 255));
  }
}

/* 검색창 */
.search_container {
  left: 50%;
  width: 80%;
  max-width: 600px;
  margin: 0rem auto 3rem auto;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(10px 10px 2px rgba(68, 111, 254, 0.265));
}

.search_input {
  border-radius: 10px;
  border: 1px solid rgb(136, 156, 255);
  padding: 10px 15px;
  min-width: 150px;
  width: 100%;
}
.search_input:focus {
  outline: none;
}

/* 검색 버튼 */
.search_btn {
  position: absolute;
  right: 0;
  border-radius: 5px;
  min-width: 65px;
  color: white;
  box-shadow:
    inset 2px 2px 2px rgb(133, 149, 252),
    inset -2px -2px 2px rgb(30, 43, 125);
  padding: 11px 15px;
  border: none;
  background-color: rgb(98, 98, 238);
}

.search_btn:hover {
  background-color: rgb(120, 120, 250);
}

/* 잠깐 알고가기! */
.message {
  padding: 1.5rem 10px;
  line-height: 1.7;
  font-size: calc(15px);
  max-width: 600px;
  margin: 0rem auto;
  span {
    background-color: rgb(82, 82, 255);
    box-shadow:
      inset 2px 2px 2px rgb(155, 155, 255),
      inset -2px -2px 2px rgb(34, 34, 101);
    margin: 0 0 8px 0;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }
}

/* 검색된 내용 렌더링 영역 */
.content_container {
  width: 80%;
  position: relative;
  top: 1rem;
  margin: 2em auto 5em;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.content_container figure {
  position: relative;
  max-width: 360px;
  min-width: 360px;
  max-height: 380px;
  transition: 0.5s;
  margin: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(178, 176, 176, 0.565);
  text-align: center;
  animation: appear 1s 1 ease-in-out;

  img {
    border-radius: 5px;
    width: 99%;
    min-width: 290px;
    min-height: 300px;
    max-height: 300px;
  }

  p {
    width: 100%;
    margin-top: -2.3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    padding-top: 10px;
  }
}

@keyframes appear {
  from {
    transform: perspective(600px) translate(0, -30px) rotateX(80deg) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
}

.content_container figure:hover {
  cursor: pointer;
  transform: rotateX(-2deg) scale(1.05);
  z-index: 1000;
}
.spinner {
  position: absolute !important;
  top: 100% !important;
  left: 50% !important;
  transform: translate(-50%, 80%) !important;
}

/* 안내 메시지 */

.message_container {
  position: fixed;
  top: 5rem;
  transition: 1s;
  z-index: 10;
  max-width: 240px;
  right: 2rem;
  min-height: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 5px 10px 35px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.452);
  display: flex;
  flex-direction: column;

  button {
    color: white;
    padding: 2px 5px;
    transition: 1s;
    font-size: 14px;
    background-color: rgb(26, 78, 133);
    border-radius: 5px;
    left: 8px;
    top: 20%;
    transform: translate(0, -50%);
    border: none;
    position: absolute;
  }
  .message {
    transition: 0.8s;
    padding: 0;
    min-width: 180px;
    font-size: 13px;
  }
}

.message_container::before {
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  filter: drop-shadow(10px 0 10px black);
  border-left: 15px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media screen and (max-width: 1641px) {
  .content_container {
    figure {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .content_container {
    justify-content: center;

    figure {
      max-width: 400px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 1065px) {
  .content_container {
    justify-content: center;

    figure {
      max-width: 250px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 344px) {
  .haccp_page_title {
    font-size: 1.8em !important;
  }
}
