/* 검색창 */
.search_container {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  margin: 15rem 0 1rem 0;
  padding: 30px 15px 25px;
  border-radius: 5px;
  border: 1px solid rgb(195, 193, 193);
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

// 검색 폼 타이틀
.search_form_title {
  position: absolute;
  background-color: #1a4e85;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 8px 0;
  font-size: 1.15em;
  display: inline-block;
  left: 0.5em;
  top: -1em;
}

// 검색창
.search_input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(224, 224, 224);
  padding: 10px 20px;
  min-width: 150px;
  width: 100%;
}

.search_input:focus {
  outline: none;
  background-color: rgb(233, 234, 236);
}

/* 검색 버튼 */
.search_btn {
  right: 0;
  min-width: 65px;
  color: white;
  padding: 11px 15px;
  border: none;
  background-color: rgb(53, 106, 162);
}

.search_btn:nth-of-type(2){
  background-color: #1c4066;
  border-end-end-radius:  5px;
  border-top-right-radius: 5px;

}

.search_btn:hover {
  background-color: rgb(78, 142, 210);
  cursor: pointer;
}


.search_btn:active{
  background-color: rgb(53, 106, 162);
}