.Haccp{
  animation: appear 1s 1 ease-in-out;
}


@keyframes appear {
  from {opacity: 0;}
}

/* 검색창 */
.search_container {
  position: absolute;
  top: 7rem;
  left: 50%;
  width: 60%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  transform: translate(-50%);
  filter: drop-shadow(10px 10px 2px rgba(68, 111, 254, 0.265));
}

.search_input {
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(136, 156, 255);
  padding: 10px 15px;
  min-width: 250px;
  width: 100%;
}
.search_input:focus {
  outline: none;
}

.search_btn {
  position: absolute;
  right: 0;
  border-radius: 5px;
  min-width: 65px;
  color: white;
  box-shadow: inset 2px 2px 2px rgb(133, 149, 252), inset -2px -2px 2px rgb(30, 43, 125);
  padding: 11px 15px;
  border: none;
  background-color: rgb(98, 98, 238);
}

.search_btn:hover {
  background-color: rgb(120, 120, 250);
}

/* 잠깐 알고가기! */
.message {
  padding: 5px;
  line-height: 1.7;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}

.message span {
  background-color: rgb(82, 82, 255);
  box-shadow: inset 2px 2px 2px rgb(155, 155, 255),inset -2px -2px 2px rgb(34, 34, 101);
  margin: 0 0 8px 0;
  display: inline-block;
  color:white;
  border-radius: 10px;
  padding: 5px;
}

/* 검색된 내용 렌더링 영역 */
.content_container {
  width: 80%;
  position: relative;
  top: 13rem;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

figure {
  position: relative;
  max-width: 300px;
  min-width: 300px;
  max-height: 380px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.081);
}


figure:hover{
  cursor: pointer;
  background-color: rgba(238, 233, 233, 0.513);
}
figure img {

  max-width: 290px;
  min-width: 290px;
  min-height: 300px;
  max-height: 300px;
}

figure p {
  width: 100%;
  margin-top: -2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align:middle;
  padding-top: 10px;
}

.spinner{
  position: absolute !important;
  top: 100% !important;
  left: 50% !important;
  transform: translate(-50%,80%) !important;
}


