@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap");

.Nutrition_section {
  margin: 3.22rem auto 0 auto;
  font-family: "Orbit", sans-serif;
  text-align: center;
}

.nutrition_title {
  background-color: black;
  text-shadow: 5px 5px 8px black;
  font-size: 2.5rem;
  margin: 1rem 0 2rem 0 !important;
  color: white;
  background-size: contain;
  background-position: center !important;
  position: relative;
  background: url("/public/images/nutritionback.png");
}

.nutrition_title p {
  width: 100%;
  line-height: 7;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), white);
  height: 300px;
}
