.Recipe {
    margin: 5rem auto 0 auto;
    max-width: 1200px;

}

.page_title {
    text-align: center;

}

.search_form {
    padding: 10px;
    border: 1px solid black;
    max-width: 600px;
    width: 100%;
    margin: 3rem auto;
    text-align: center;
}

/* 검색- 분류(체크박스)*/
.search_form .search_sortby_area{
    margin: 1rem;
}

.search_form .search_sortby_area input {
    margin: 5px;
}