@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');
body {
  padding: 0;
  line-height: 25px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Orbit', sans-serif !important;
  overflow-x: hidden;
}

ul {
  padding: 0 !important;
}

main {
  background-color: rgba(242, 242, 242, 0.16);
  overflow: hidden;
  
  
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}
