@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');
body {
  margin: 0;
  padding: 0;
  line-height: 25px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Orbit', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  padding: 0 !important;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}
