.modal_con {
  position: fixed;
  top: 50%;
  transition: 1s;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: inset -2px -2px 5px 1px rgba(0, 0, 0, 0.359);
  right: 5%;
  min-width: 260px;
  width: 60%;
  max-width: 330px;
  background: rgb(61, 110, 218);
  transform: translate(0, -50%);
  min-height: 350px;
  h3 {
    background-color: white;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.203);
    padding: 8px;
    color: black;
    border-radius: 5px;
  }
  ul {
    background-color: white;
    border-radius: 5px;
    padding: 17px 5px !important;
    min-height: 280px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.183);
  }

  li {
    margin: 10px 5px;
    padding: 3px 0;
    border-bottom: 1px dashed black;

    strong {
      min-width: 95px;
      display: inline-block;
      margin-right: 3rem;
    }
  }
}

/* 모달 아이콘 */
.modal_btn {
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  background-color: rgb(108, 120, 255);
  box-shadow: inset -2px -2px 5px 1px rgba(0, 0, 0, 0.531);
  position: fixed;
  right: 10px;
  top: 5rem;
}
