.movement {
  position: fixed;
  left: 10px;
  bottom: 10px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
}

.movement button {
  border-radius: 50px;
  background-color: transparent;
}

.movement button:hover {
  background-color: rgba(192, 192, 251, 0.282);
}

@media screen and (min-width: 768px) {
  .movement {
    position: fixed;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
  }
}
