


header{
    background-color: rgba(0, 0, 0, 0.528);
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    height: 57px;
    padding: 0 0 8px 0;
    z-index: 1000;
}

header .header_flex{
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

header h1{
    font-weight: 600;
    padding: 8px 10px 3px 10px;
    background-color: transparent;
    width: 100%;
    min-width: 40%;
    color: white;
    height: 50px;
} 

.menu ul {
    display: flex;
}
.menu ul li{
    font-size: 15px;
    padding: 8px 10px 3px 10px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
}

.menu ul li:hover{
    cursor: pointer;
    background-color: black;
}

.menu ul li a{
    color:white;
    text-decoration: none;
}

