.Header {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  display: flex;
  background-color: rgb(17, 90, 163);
  justify-content: center;
  border: none;
  box-shadow: 5px 5px 10px 0 rgba(128, 128, 128, 0.658);
}

