.Introduce {
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  margin-top: 0rem;
  color: white;
  position: absolute;
  padding: 0px;
  left: 50%;
  transform: translate(-50%);
}

.Introduce a {
  text-decoration: none;
  color: white;
  font-size: 1.25em;
}


.intro_title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 20px 20px 20px;
  }
  

/* 인트로 헤더 */
.intro_header {
  text-align: center;
  min-height: 100vh;
  transition: 2s;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.249);
}

.intro_header .logo {
  margin: 8rem 0 1rem 0;
  border-radius: 5px;
  max-width: 200px;
  box-shadow: 0 0 10px 2px white;
  max-height: 200px;
  animation: logo_appear ease-in-out 2s 1;
}

@keyframes logo_appear {
  from {
    transform: scale(0.1) skew(50deg);
    opacity: 0;
  }
}

.intro_header h2 {
  animation: title_appear ease-in-out 3s 1;
}


@keyframes title_appear {
    from {
      transform: translateY(-10px) rotateY(60deg);
      opacity: 0;
    }
  }




/* 주요 콘텐츠 */
.intro_main {
  visibility: hidden;
  opacity: 0;
  transition: 2s;
  text-align: center;
  min-height: 80vh;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.249);
}

.intro_main h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0;
  font-weight: 500;
}

.intro_main_menu {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.intro_main_menu strong {
  margin: 5px 0 10px 0;
  display: inline-block;
}
.intro_main_menu li {
  border-radius: 10px;
  padding: 8px;
  box-shadow: inset -3px -5px 5px rgb(5, 27, 75);
  background-color: rgba(56, 81, 246, 0.671);
  max-width: 370px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.intro_main_menu li:hover {
  background-color: rgb(21, 92, 234);
}

/* 인트로 풋터 */
.intro_footer {
  visibility: hidden;
  opacity: 0;
  transition: 2s;
  text-align: center;
  min-height: 30vh;
  padding: 10px;
  margin: 2rem 0 2rem 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.249);
}

.intro_footer h2 {
  font-weight: 500;
  margin: 2rem 0 2rem 0;
  font-size: 2.5rem;
}
