
.loading{
    position: fixed ;
    left: 50%;
    top: 50%;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 100px 50px rgba(33, 120, 207, 0.478);
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
}


table{
    text-align: center;
    border-collapse: collapse;
    position: relative;
    max-width: 90%;
    width: 100%;
    left: 50%;
    top: -3rem;
    transform: translate(-50%);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 1px rgb(191, 188, 250);
    animation: appear 1s 1 ease-in-out;
}

@keyframes appear {
  from {opacity: 0;}
}


th{
    background-color: rgb(33, 102, 230);
    padding: 15px 10px;
    color:white;
}

th:nth-of-type(1){
    border-top-left-radius: 10px;
}

th:last-of-type{
    border-top-right-radius: 10px;

}

td{
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(194, 190, 190);
}


tr:hover{
    background-color: rgb(199, 199, 255);
}



/* .modalMap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.map_close_icon{
    position: relative;
    left: 91.4%;
    background-color: black;
    color:white;
    padding: 5px;
} */


@media screen and (max-width:750px) {
    td {
        font-size: 13px;
    }
    th {
        font-size: 14px;
    }
    
}