
.Map{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 100vh;
    background-color: rgba(101, 100, 100, 0.379);
}

.KaMap{
    border-radius: 10px;
    position: fixed;
    top: 40%;
    margin:5rem 5rem 5rem 0;
    left: 50%;
    transform: translate(-50%,-50%);
}


.close_btn{
    position: fixed;
    top: 0;
    font-size: 2.8rem;
    right: 0;
    border-radius: 10px;
    margin: 1.5rem;
    color:white;
}

.close_btn:hover{
    cursor: pointer;
}