/* 백과사전 아이콘 */
.nav_search_icon {
  background: url("/public/icon/book.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 7.5rem;
  right: 2rem;
  color: white;
  padding: 10px;
  z-index: 100000000000000;
  filter: drop-shadow(0 0 20px);
  animation: updown infinite ease-in-out 1.5s alternate-reverse;
}

@keyframes updown {
  from {
    transform: translateY(-5px);
  }
}

.nav_search_icon:hover::before {
  content: "";
  position: absolute;
  left: -1em;
  border-left: 15px solid white;
  z-index: 100000;
  filter: drop-shadow(3px 0 1px rgb(7, 54, 117));
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.nav_search_icon:hover::after {
  content: "네이버 백과사전";
  border: 3px solid rgb(29, 126, 252);
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -5px;
  left: -9.6rem;
  color: black;
}

/* 백과사전 모달 전체 컨테이너 */
.form {
  padding: 2rem 0;
  position: fixed;
  transition: 0.5s;
  max-width: 1200px;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.349);
  background-color: white;
  z-index: 100000000;
  overflow: hidden scroll;
}

.form::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(207, 203, 203);
}

.form::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 249);
  border-radius: 10px;
}

/* 사용자 검색창 */
.form form {
  text-align: center;
  margin: 1.5rem;
}

/* 검색 결과 */
.form .result_section {
  min-height: 80vh;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 5px;
}

.item_ul:nth-of-type(2n) {
  color: white;
  background: linear-gradient(5deg, rgb(90, 90, 238), rgb(26, 108, 232));
  border-radius: 5px;
  box-shadow: inset -60px 0px rgb(77, 116, 244);
  transition: 0.5s;
  padding: 2rem 1rem;
}

.item_ul:nth-of-type(2n-1) {
  color: white;
  background: linear-gradient(-50deg, rgb(90, 90, 238), rgb(26, 108, 232));
  border-radius: 5px;
  box-shadow: inset 60px 0px rgb(77, 116, 244);
  padding: 2rem 1rem;
}

.item_ul:hover {
  transition: 0.5s;
  background: rgb(37, 79, 234);
  box-shadow: inset 0 0 0 0 rgb(117, 117, 254), 0 0 20px 1px rgb(29, 75, 215);
}

.item_ul a {
  color: white;
  display: inline-block;
  margin: 7px 0 0 0;
}

/* 사용자 입력창과 조회 버튼 */

.user_input {
  padding: 5px 10px;
  min-width: 200px;
}

.user_input:focus {
  outline-color: rgb(132, 132, 254);
  border-radius: 2px;
  padding: 7px 10px;
  border: none;
}

.search_btn {
  min-width: 40px;
  padding: 6px;
  margin: 0 3px;
  border: none;
  background-color: rgb(130, 130, 247);
  border-radius: 4px;
  box-shadow: inset -1px -1px 1px 1px rgba(9, 15, 106, 0.411);
  color: white;
}

.search_btn:hover {
  background-color: rgb(141, 141, 255);
}

/* 나가기 버튼 */
.close_btn {
  position: absolute;
  top: 15px;
  background-color: rgb(133, 133, 255);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 8px;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.738);
  right: 15px;
}

.close_btn:hover {
  background-color: rgb(87, 118, 255);
}
