

.search{
  z-index: -1;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    display: flex;
    background-color: rgb(17, 90, 163);
    justify-content: center;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(128, 128, 128, 0.658);
}


/* 검색창 전체 컨테이너 */
.search_container {
  max-width: 600px;
  margin: 20px;
  width: 100%;
  position: relative;
}

/* 검색창 */
.search_input {
  width: 100%;
  text-align: center;
  max-width: 600px;
  z-index: 1;
  box-shadow: inset 1px 1px 3px 1px rgba(5, 17, 65, 0.916);
  border: none;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  min-width: 250px;
  margin: 0;
  position: relative;
}

.search_input:focus {
  outline: none;
}

/* 검색창 아이콘 */
.search_icon {
  z-index: 100;
  top: 12.5px;
  left: 10px;
  color: black;
  position: absolute;
}
