

.search{
  z-index: 100;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    display: flex;
    border: none;
}


/* 검색창 전체 컨테이너 */
.search_container {
  min-width: 600px;
  max-width: 900px;
  margin: 20px auto;
  width: 100%;
  position: relative;
}

/* 검색창 */
.search_input {
  width: 100%;
  text-align: center;
  max-width: 600px;
  z-index: 1;
  box-shadow: inset 0 0 1px 1px rgba(5, 17, 65, 0.916);
  border: none;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  min-width: 250px;
  margin: 0;
  position: relative;
}

.search_input:focus {
  outline: none;
}

/* 검색창 아이콘 */
.search_icon {
  z-index: 100;
  top: 16.5px;
  left: 10px;
  color: black;
  position: absolute;
}
